@charset "UTF-8";
@media (orientation: landscape) and (max-width: 800px){
    body {
        padding-top: 100px;
        padding-bottom: 20px;
        height: fit-content;
        
    }

    .recent-taskList .wrapper {
        max-height: 70vh;
    }
}

@media (max-width: 500px) {
    .new-task, .recent-taskList, .panel-taskList, .add-taskInfos, .description-modal {
        width: 97vw;
    }
}


